<footer class="text-center text-white cyan footer" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="alexandresilva58@gmail.com"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="far fa-envelope"></i
        ></a>
    
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/alexandre-ribeiro-b975b0127/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/XandRules"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      
      <a class="text-dark" href="https://mdbootstrap.com/">Feito por Alexandre Ribeiro</a>
    </div>
    <!-- Copyright -->
  </footer>