<div class="container mt-3 mb-3">
    <mdb-card>
        <mdb-card-title>
            <h4 class="text-center mt-3">{{titulo}} Usuário</h4>
        </mdb-card-title>

        <mdb-card-body>
            <form [formGroup]="usuarioForm">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-2">
                  <div class="col">
                    <div class="form-outline">
                        <input type="text" mdbValidate mdbInput  id="nome" class="form-control" formControlName="nome" />
                        <label  for="nome">Nome</label>                   
                      
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input  mdbValidate mdbInput  type="email" id="email" class="form-control" formControlName="email"/>
                      <label class="form-label" for="email">E-mail</label>
                    </div>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-md-4">
                    <div class="form-outline">
                      <input  mdbValidate mdbInput type="text" mask="d0/M0/0000" [leadZeroDateTime]="true" id="data_nasc" class="form-control" formControlName="data_nasc" />
                      <label class="form-label" for="data_nasc">Data de nascimento</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-outline">
                      <input  mdbValidate mdbInput type="text" id="Telefone" class="form-control" formControlName="telefone" />
                      <label class="form-label" for="Telefone">Telefone</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-outline">
                      <input  mdbValidate mdbInput type="text" id="cep" class="form-control" formControlName="cep"/>
                      <label class="form-label" for="cep">Cep</label>
                    </div>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-md-4">
                    <div class="form-outline">
                      <input  mdbValidate mdbInput type="text" id="rua" class="form-control" formControlName="rua" />
                      <label class="form-label" for="rua">Rua</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-outline">
                      <input  mdbValidate mdbInput type="text" id="numero" class="form-control" formControlName="numero" />
                      <label class="form-label" for="numero">Número</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-outline">
                      <input  mdbValidate mdbInput type="text" id="bairro" class="form-control" formControlName="bairro" />
                      <label class="form-label" for="bairro">Bairro</label>
                    </div>
                  </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                      <div class="form-outline">
                        <input  mdbValidate mdbInput type="text" id="cidade" class="form-control" formControlName="cidade" />
                        <label class="form-label" for="cidade">Cidade</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input  mdbValidate mdbInput type="text" id="estado" class="form-control" formControlName="estado" />
                        <label class="form-label" for="estado">Estado</label>
                      </div>
                    </div>
                  </div>             
              
                <!-- Submit button -->
                <button type="submit" [disabled]="!usuarioForm.valid"  class="btn btn-primary btn-block mb-4 mt-4" (click)="submitForm()">Salvar</button>
              </form>
        </mdb-card-body>
    </mdb-card>
</div>




